
<nav class="navbar-menu navbar-color">
  <%= link_to root_path, class:"no-underline" do %>
  <span class="navbar-brand mb-0 h1"><i class="fas fa-bed"></i> <span class="service-name">レコレぽ<span></span>
<% end %>
<div class="navber-sub-menu" >
  <% if user_signed_in? %>
    <%= link_to "記録", home_index_path, class:"header-menu" %> 
    <%= link_to "キーワード登録", new_user_word_path(current_user), class:"header-menu" %>
    <%= link_to "キーワード一覧", user_words_path(current_user), class:"no-underline header-menu" %>
    <%= link_to "ログアウト", destroy_user_session_path, class:"no-underline header-menu logout", method: :delete %> 
  <% else %>
    <%= link_to "登録する", new_user_registration_path, class:"no-underline header-menu" %>
    <%= link_to "ログイン", new_user_session_path, class:"no-underline header-menu" %>
  <% end %>
</nav>

  <div class="hamburger-menu">
    <input type="checkbox" id="menu-btn-check">
    <label for="menu-btn-check" class="menu-btn"><span></span></label>
  </div>

  <div class="menu-content">
    <ul>
      <%  if user_signed_in?%>
        <li>
          <%= link_to "キーワード登録", new_user_word_path(current_user), class:"header-menu" %>
        </li>
        <li>
          <%= link_to "キーワード一覧", user_words_path(current_user), class:"no-underline header-menu" %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, class:"no-underline header-menu logout", method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "登録する", new_user_registration_path, class:"no-underline header-menu" %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path, class:"no-underline header-menu" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script>
  $(function(){
$("#menu-btn-check").on("click", function(){
  if($(this).prop("checked") == true){
    $(".menu-content").addClass("ham-menu");
    $(".menu-content").animate({opacity: 1}, 10);
  }
  if($(this).prop("checked") == false){
    $(".menu-content").removeClass("ham-menu");
    $(".menu-content").animate({opacity: 0}, 0);
  }
});
});
</script>

