<div class="site">※対応サイト Google Chrome, Edge, Chrome for Android </div>

<div class="catch-copy">
  <div>安心してください</div>
  <div>起こしますよ</div>
</div>

<div class="detail">
  <span>えっ？今なんて言った？</span>が起こらなくなる。<br />オンライン上の<span>会議</span>や<span>授業</span>がより<span>快適</span>なものに。
</div>

<div class="link">
  <%= link_to "はじめる", new_user_registration_path, class:"lp-button" %>
</div>

<div class="business-person">
    <%= image_tag "business-person.png", size: '100x100' %>
    <%= image_tag "allow3.png", size: '100x100' %>
    <%= image_tag "person2.png", size: '100x100' %>
</div>

<div class="lp-top">
  <div class="business-person-pc">
    <%= image_tag "business-person.png", class:"business-person1"%>
  </div>
  <div class="business-person-pc">
    <%= image_tag "allow3.png", class:"allow3" %>
  </div>
  <div class="business-person-pc">
    <%= image_tag "person2.png", class:"person2" %>
  </div>
</div>

<div class="how-to-use">
  <div class="use-title">使い方</div>
  <div class="under-line"></div>
  <div class="explain">1.キーワードを登録しましょう。（複数選択可）※ここで登録したキーワードを探知してお知らせします。</div>
  <div class="explain">2.お知らせする際の音声を選択しましょう。</div>
  <div class="explain">3.「録音開始」をクリックしてスタートです。</div>
  <div class="explain-image">
    <%= image_tag "explain-iphone.png", class:"explain-image-size" %>
  </div>

  <div class="explain-image">
    <%= image_tag "finish-iphone.png", class:"explain-image-size2" %>
  </div>
</div>


<div class="how-to-use-pc">
  <div class="use-title-pc">使い方</div>
  <div class="under-line-pc"></div>
  <div class="explain-pc">1.キーワードを登録しましょう。（複数選択可）※ここで登録したキーワードを探知してお知らせします。</div>
  <div class="explain-pc">2.お知らせする際の音声を選択しましょう。</div>
  <div class="explain-pc">3.「録音開始」をクリックしてスタートです。</div>
  <div class="explain-image-pc">
    <%= image_tag "explain-pc.png", class:"explain-image-size3" %>
  </div>

  <div class="explain-image-pc">
    <%= image_tag "finish-pc.png", class:"explain-image-size4" %>
  </div>
</div>

<div class="link">
  <%= link_to "はじめる", new_user_registration_path, class:"lp-button" %>
</div>